/* ------------------------------------*\
  #Header custom styles
\*------------------------------------ */

.header-custom {
    border-bottom: 10px solid #edf0f5;
    height: 90px !important;
    padding: 15px 45px;
    margin-bottom: 35px;

    @include breakpoint(md) {
        padding: 14px 16px;
        border-bottom: 5px solid #edf0f5;
        height: 65px !important;
        padding: 0 15px;

        .navbar-brand {
            max-width: 139px;
            margin: 0;
        }

        .notification-icon {
            display: none !important;
        }
    }
}

.header-divider {
    width: 1px;
    height: 20px;
    background: $main-color;
    margin: 0 30px;

    @include breakpoint(md) {
        display: none;
    }
}

