doctype html
html(lang="en")
    block head
        head
            meta(charset="utf-8")
            title Crewe Only
            meta(content="width=device-width, initial-scale=1" name="viewport")
            meta(content="ie=edge" http-equiv="x-ua-compatible")
            //- Fonts
            link(rel="preconnect" href="https://fonts.gstatic.com")
            link(href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700;800;900&display=swap" rel="stylesheet")
            //- Styles
            link(rel="stylesheet" href="css/style.min.css")
    body
        block header
            include ../partials/header
        div(class="container-fluid")
            div(class="row justify-content-between")
                div(class="col-md-3 col-sm-0 pl-0")
                    block menu
                        include ../partials/menu
                div(class="col-md-9 col-sm-12 pl-4 pr-5 content")
                    block content
                        include ../partials/content
                    block footer
                        include ../partials/footer
        //- Scripts
        block scripts
            script(src='js/main.min.js')
