/* ------------------------------------*\
  #Content divide line
\*------------------------------------ */

.content-divider {
    width: 50px;
    height: 5px;
    background: $main-border-color;
    margin-top: 15px;
    margin-bottom: 30px;
}
