/* ------------------------------------*\
  #Main page styles
\*------------------------------------ */

.subtitle {
    font-style: normal;
    font-weight: 500;
    font-size: 1.1rem;
    margin-top: 20px;

    @include breakpoint(mobile-xl) {
        font-size: 14px;
        line-height: 22px;
    }
}

// Wrapper for video
.home-content-video {
    width: 100%;
    height: 100%;
    max-height: 768px;
    margin-top: 25px;

    iframe {
        width: 100%;
        height: 100%;
        border: none;
    }

    @include breakpoint(md) {
        width: 100%;
        height: 100%;
        max-height: 311px;
        margin-top: 25px;
    }

    @include breakpoint(mobile-xl) {
        max-height: 211px;
    }
}

// Support block stylse
.home-content-support {
    position: relative;
    padding: 50px 75px;
    border: 1px solid $main-color;
    margin-top: 50px;

    .mobile-hand {
        display: none;
    }

    &::before {
        position: absolute;
        content: "";
        width: 0;
        height: 0;
        top: 0;
        left: 0;
        border-top: 35px solid $main-border-color;
        border-right: 35px solid transparent;
    }

    p {
        font-size: 18px;
        line-height: 26px;
        font-weight: 500;
    }

    @include breakpoint(xl) {
        padding: 50px 5%;
    }

    @include breakpoint(lg) {
        .mobile-hand {
            display: inline;
        }

        .desktop-hand {
            display: none;
        }
    }

    @include breakpoint(mid) {
        padding: 15px 5%;
    }

    @include breakpoint(mobile-xl) {
        padding: 0;
        border: none;

        p {
            font-size: 14px;
            line-height: 22px;
        }

        &::before {
            content: none;
        }
    }
}

.home-content-community {
    margin-top: 50px;

    p {
        font-size: 18px;
        line-height: 26px;
        font-weight: 500;

        a {
            color: $main-border-color;
        }

        span {
            font-weight: 600;
        }
    }

    @include breakpoint(mobile-xl) {
        p {
            font-size: 14px;
            line-height: 22px;
        }
    }
}

.content {

    @include breakpoint(md) {
        padding: 0 16px !important;
    }
}
