div(class="user-card d-flex justify-content-between align-items-center")
    div(class="user-card-wrapper d-flex justify-content-around")
        img(
            src="img/fake_user.jpg", 
            alt="avatar"
            )
        div(class="user-card-text")
            p Welcome
            h4 Olga Kosach
    