<!-- Sidebar menu -->
nav(class="nav flex-column sidebar-menu")
    a(class="nav-link active" href="#") 
        img(src="img/menu-icons/home.svg" alt="home-icon") 
        span Home Page
    a(
        class="nav-link nav-link-dropdown collapse-programs-btn" 
    ) 
        img(src="img/menu-icons/programs.svg" alt="programs-icon") 
        span Programs
    div(class="custom-collapse collapse-programs" id="programs")
        ul(class="custom-list-group")
            li(class="custom-list-group-item")
                a Home 3-Day
            li(class="custom-list-group-item")
                a Home 4-Day
            li(class="custom-list-group-item")
                a Gym 3-Day
            li(class="custom-list-group-item")
                a Gym 4-Day
            li(class="custom-list-group-item")
                a Gym 5-Day
            li(class="custom-list-group-item")
                a Maternity Home
            li(class="custom-list-group-item")
                a Maternity Gym
            li(class="custom-list-group-item")
                a Push Up Challenge
    a(
        class="nav-link nav-link-dropdown collapse-programs-btn" 
    ) 
        img(src="img/menu-icons/tutorials.svg" alt="tutorials-icon") 
        span Tutorials
    div(class="custom-collapse collapse-tutorials" id="tutorials")
        ul(class="list-group")
            li(class="list-group-item")
                a Home
            li(class="list-group-item")
                a Gym
            li(class="list-group-item")
                a Maternity
            li(class="list-group-item")
                a Definitions
    a(class="nav-link" href="#") 
        img(src="img/menu-icons/keeping-track.svg" alt="keeping-icon") 
        span Keeping Track
    a(class="nav-link" href="#") 
        img(src="img/menu-icons/benefits-of-exercise.svg" alt="benefits-icon") 
        span Benefits of Exercise
    a(class="nav-link" href="#")
        img(src="img/menu-icons/individual-differences.svg" alt="individual-icon") 
        span Individual Differences
    a(class="nav-link" href="#") 
        img(src="img/menu-icons/form-assessment.svg" alt="form-icon") 
        span Form Assessment
    a(class="nav-link" href="#") 
        img(src="img/menu-icons/faq.svg" alt="faq-icon") 
        span FAQ
    a(class="nav-link" href="#") 
        img(src="img/menu-icons/nutrition-guide.svg" alt="nutrition-icon") 
        span Nutrition Guide
    a(class="nav-link" href="#") 
        img(src="img/menu-icons/crewes-kitchen.svg" alt="crewes-icon") 
        span Crewes Kitchen
    a(class="nav-link" href="#") 
        img(src="img/menu-icons/bonus.svg" alt="bonus-icon") 
        span Bonus
    a(class="nav-link" href="#") 
        img(src="img/menu-icons/meet-the-crewe.svg" alt="meet-icon") 
        span Meet the Crewe
    a(class="nav-link" href="#") 
        img(src="img/menu-icons/notes.svg" alt="notes-icon") 
        span Notes
            






